.thick-chart .chart-series-line {
    -fx-stroke-width: 2px;
}

.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 30px;

}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 20px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}